.main {
  text-align: center;
}
.listborderbox {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.box {
  box-shadow: 3px 6px gray;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  /* border: 1px solid black; */
  width: 40%;
  /* height:60%; */
  background: rgba(61, 73, 184, 0.76);
}

.newUserDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newUserBox  {
  padding: 10px;
  box-shadow: 3px 6px gray;
  border-radius: 10px;
  border: 1px solid black;
  width: 40%;
  background: rgba(7, 10, 39, 0.76);
}


.deleteUserBox {
  margin: 20px;
  padding: 10px;
  box-shadow: 3px 6px gray;
  border-radius: 10px;
  border: 1px solid black;
  width: 20%;
  background: rgba(19, 30, 128, 0.76);
}

input {
  border: none;
  background: none;
}

button {
  background: darkblue;
  color: white;
  box-shadow: none;
}